* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
    font-family: 'Poppins', sans-serif;
}

html, body {
    display: grid;
    height: 100%;
    place-items: center;
    background: #111; 
}

.text {
    font-size: 150px;
    font-weight: 800;
    text-transform: uppercase;
    background: linear-gradient(135deg, #5335cf 0%, #de005e 25%, #f66e48 50%, #de005e 75%, #5335cf 100%);
    background-size: 400% 400%; 
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent; 
    animation: animate 10s linear infinite;
}

@keyframes animate {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%; 
    }
    100% {
        background-position: 0% 50%; 
    }
}