* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.container {
    width: 100%;
    /* 100% ki jagah 100vh use karein taaki puri screen ki height mile */
    height: 100vh; 
    display: flex;
    align-items: center;
    justify-content: center;
    background: #4285f4;
}

.spinner {
    width: 80px;
    height: 80px;
    border: 7px solid #fff;
    border-top: 7px solid transparent; /* Border width yahan bhi mention karein */
    border-radius: 50%;
    animation: spin 0.7s linear infinite;
}

/* Yahan 'form' ko 'from' kar diya hai */
@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}